@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap");
@import url(./reset.css);
html {
  overflow-y: scroll;
  /* 기본폰트값 10px로 수정(rem단위사용) */
  font-size: 62.5%;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: -0.02em;
}

body {
  font-family: "Pretendard Variable", Pretendard, "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #333;
  font-size: 1.6rem;
  background-color: #ffffff;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.375;
  letter-spacing: -0.01em;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.h1,
h1 {
  line-height: 1.2;
  font-size: 5rem;
  font-weight: 800;
}

.h2,
h2 {
  font-size: 4rem;
  font-weight: 600;
}

.h3,
h3 {
  margin: 0 0 2rem 0;
  font-size: 3rem;
  font-weight: 500;
}

.h4,
h4 {
  font-size: 2.25rem;
  font-weight: 400;
}

.h5,
h5 {
  margin: 0 0 3rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  margin: 0 0 2rem 0;
}

strong,
b {
  font-weight: 400;
}

.en-font {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}

.wrap {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
}
.wrap-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.header {
  width: 100%;
  padding: 3rem;
}
.header-inner {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
}
.header-inner .logo {
  max-width: 15rem;
}
.header .menu-btn {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 30px;
  position: relative;
}
.header .menu-btn span {
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}
.header .menu-btn span:last-child {
  top: auto;
  bottom: 8px;
}

.main {
  margin: auto;
  width: 100%;
  max-width: 1300px;
}
.main-container {
  height: 51rem;
  position: relative;
}
.main-hero-banner {
  position: absolute;
  top: 15%;
}
.main-hero-banner .hero-banner-btn {
  margin-top: 5rem;
}
.main-hero-banner .hero-banner-btn p {
  font-size: 2rem;
  padding: 2rem 1rem;
}
.main-photo {
  position: absolute;
  width: 600px;
  height: 700px;
  right: 0;
  top: 0;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  .main-photo {
    width: 350px;
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  .main-photo {
    width: 300px;
    height: 350px;
  }
}
.main-photo img {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.main-photo .circle {
  position: relative;
  width: 680px;
  height: 680px;
  z-index: 2;
  background: #8ffb5d;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.infor {
  margin: auto;
  width: 100%;
  max-width: 1300px;
  margin-top: 20rem;
}
.infor-container {
  width: 100%;
  height: 90rem;
}
.infor-container .inner-title {
  text-align: center;
}
.infor-cards {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  width: 100%;
}
.infor-cards .card {
  width: 50%;
  padding: 3rem;
  border: 1px solid #424242;
}
.infor-cards .card-content {
  padding: 0 5rem 1em 0;
  display: flex;
  gap: 3rem;
}
.infor-cards .card-content:nth-of-type(1) {
  padding-top: 5rem;
}
.infor-cards .card-content span {
  margin: 0;
  color: #090a0c;
  flex: 0 0 90px;
  border-right: 1px solid #c1c1c1;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.infor-cards .card-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}

.hero-banner-btn .btn {
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 3rem;
  margin-top: 1rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #4BE006;
  transition: all 0.5s;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.hero-banner-btn .btn:hover {
  color: #000000;
  background-color: #B4FC93;
  border-bottom: 1px solid transparent;
}/*# sourceMappingURL=index.css.map */