@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url(./reset.css);
html {
  overflow-y: scroll;
  /* 기본폰트값 10px로 수정(rem단위사용) */
  font-size: 62.5%;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: -0.02em;
}

body {
  font-family: "Pretendard Variable", Pretendard, "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #333;
  font-size: 1.6em;
  background-color: #FFFFF4;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.375;
  letter-spacing: -0.01em;
  margin: 0 0 1rem 0;
}

.h1,
h1 {
  line-height: 1.2;
  font-size: 100px;
  font-weight: 800;
}
@media screen and (min-width: 1201px) {
  .h1,
  h1 {
    font-size: 80px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .h1,
  h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 700px) {
  .h1,
  h1 {
    font-size: 80px;
  }
}

.h2,
h2 {
  font-size: 8rem;
  font-weight: 600;
}

.h3,
h3 {
  margin: 0 0 2rem 0;
  font-size: 5rem;
  font-weight: 500;
}

.h4,
h4 {
  font-size: 4.32rem;
  font-weight: 600;
}

.h5,
h5 {
  font-size: 2.4rem;
  font-weight: 600;
}

.h6,
h6 {
  margin: 0 0 3rem 0;
  font-size: 2.1rem;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 2rem 0;
}

strong,
b {
  font-weight: 400;
}

.en-font {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}

.wrap {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.wrap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  background: url("../images/loding.json");
  z-index: 99999;
}

.all_scrollFixed {
  overflow: hidden;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .custom-cursor {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .custom-cursor {
    display: none;
  }
}

.custom-cursor img {
  display: block;
  width: 40px;
  height: auto;
}

.logo {
  position: relative;
  display: inline-block;
  width: 106px;
  height: 95px;
}

#lottie {
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
}

#msc {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 307px;
  height: 148px;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  #msc {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 700px) {
  #msc {
    display: none;
    visibility: hidden;
  }
}

body::-webkit-scrollbar {
  width: 2em;
  background-color: #F8FFE3;
}

body::-webkit-scrollbar-thumb {
  width: 2em;
  height: 2em;
  background-color: #B4FC93;
}

body::-webkit-scrollbar-button {
  background-color: white;
}

.header {
  width: 100%;
  padding: 3rem;
}
.header-inner {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
}
.header .menu-btn {
  display: inline-block;
  width: 28px;
  height: 30px;
  position: fixed;
  right: 2%;
}
.header .menu-btn span {
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}
.header .menu-btn span:last-child {
  top: auto;
  bottom: 8px;
}

nav {
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 2;
  padding: 0 1em;
}
@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
}
nav.sticky {
  background: rgba(255, 255, 255, 0.737254902);
  position: fixed;
  z-index: 99;
  border-radius: 56px;
  -webkit-backdrop-filter: blur(6.4px);
          backdrop-filter: blur(6.4px);
}
nav .gnb {
  display: flex;
  top: 0;
  right: 0;
}
nav .gnb li {
  display: block;
  padding: 1.5rem 3rem;
  border-radius: 56px;
}
nav .gnb li.on a {
  font-weight: 500;
}
nav .gnb li a {
  color: #000000;
  display: inline-block;
  padding: 0.2rem;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  position: relative;
}
nav .gnb li a:before {
  top: 0;
  transform-origin: left;
}
nav .gnb li a:after {
  bottom: 0;
  transform-origin: right;
}
nav .gnb li a:before, nav .gnb li a:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background: #B4FC93;
  transform: scaleX(0);
  transition: all 0.5s;
}
nav .gnb li.on a:before, nav .gnb li a:hover:before, nav .gnb li.on a:after, nav .gnb li a:hover:after {
  transform: scaleX(1);
}

/* sideNav */
.side-menu .sideNav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 95%;
}
.side-menu .sideNav li {
  position: relative;
}
.side-menu .sideNav li a {
  display: block;
  position: relative;
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50%;
  border: 3px solid #DAFEC9;
}
.side-menu .sideNav li.on a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #8ffb5d;
  border: transparent;
  z-index: -1;
  color: #fff;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .side-menu .sideNav {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .side-menu .sideNav {
    display: none;
  }
}
.side-menu .sideNav-top {
  position: fixed;
  left: 90%;
  bottom: 10%;
}
.side-menu .sideNav-top::before {
  content: "";
  width: 2.3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8rem;
  background: url("../images/top-arrow.png") center center no-repeat;
  cursor: pointer;
}
.side-menu .sideNav-top a {
  display: block;
  position: relative;
  line-height: 6rem;
  color: #424242;
  background-color: #FFFFF4;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50%;
}

/* main */
.main {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 10vw;
}
.main-container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-container {
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .main-container {
    align-items: center;
  }
}
.main-hero-banner {
  margin-top: 10rem;
  top: 10%;
}
@media screen and (min-width: 1201px) {
  .main-hero-banner {
    width: 60%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-hero-banner {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .main-hero-banner {
    width: 100%;
    text-align: center;
  }
}
.main-hero-banner-title.title {
  font-weight: 800;
  color: transparent;
  background-image: url("../images/green-back.png");
  background-blend-mode: color;
  background-position: 98% 75%;
  -webkit-background-clip: text;
          background-clip: text;
  position: relative;
  line-height: 10rem;
}
.main-hero-banner-title.sub-title {
  margin-top: 2rem;
}
.main .image-wrap {
  position: absolute;
  left: 60%;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main .image-wrap {
    position: static;
    flex-direction: column;
    height: 73vw;
    bottom: 0;
    padding: 5rem 10rem;
  }
}
@media screen and (max-width: 700px) {
  .main .image-wrap {
    position: static;
    flex-direction: column;
    height: 93vw;
    bottom: 0;
    padding: 5rem 10rem;
  }
}
.main-photo {
  position: relative;
  text-align: center;
  max-width: 513px;
}
@media screen and (min-width: 1201px) {
  .main-photo {
    height: 56vw;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-photo {
    height: 62vw;
  }
}
@media screen and (max-width: 700px) {
  .main-photo {
    height: 62vw;
  }
}
.main-photo-infor {
  position: absolute;
  left: -6%;
  z-index: 12;
  font-weight: 500;
}
@media screen and (min-width: 1201px) {
  .main-photo-infor {
    top: 45%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-photo-infor {
    top: 85%;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .main-photo-infor {
    top: 85%;
    width: 100%;
  }
}
.main-photo-infor ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 1201px) {
  .main-photo-infor ul {
    width: 90rem;
    height: 30rem;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-photo-infor ul {
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 700px) {
  .main-photo-infor ul {
    width: 100%;
    right: 0;
  }
}
.main-photo-infor ul li {
  display: block;
  border: 2px solid #000000;
  border-radius: 56px;
  background-color: #FFFFF4;
  font-weight: 700;
  transition: position 0.3s cubic-bezier(0.36, 0.64, 0.55, 0.59);
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1201px) {
  .main-photo-infor ul li {
    padding: 0 3rem;
    line-height: 6rem;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-photo-infor ul li {
    font-size: 2rem;
    padding: 0 2rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .main-photo-infor ul li {
    display: none;
  }
}
.main-photo-infor ul li.i1 {
  position: absolute;
}
@media screen and (min-width: 1201px) {
  .main-photo-infor ul li.i1 {
    top: -81px;
    right: 211px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-photo-infor ul li.i1 {
    top: -98px;
    right: 177px;
  }
}
@media screen and (max-width: 700px) {
  .main-photo-infor ul li.i1 {
    display: none;
  }
}
.main-photo-infor ul li.i2 {
  position: absolute;
}
@media screen and (min-width: 1201px) {
  .main-photo-infor ul li.i2 {
    top: -152px;
    left: -150px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-photo-infor ul li.i2 {
    top: -356.6154px;
    left: 220.5639px;
  }
}
@media screen and (max-width: 700px) {
  .main-photo-infor ul li.i2 {
    display: none;
  }
}
.main-photo-infor ul li.on {
  color: #4BE006;
}
.main-photo-frame {
  position: absolute;
  top: 7%;
  left: 0;
  display: block;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 30px solid #8ffb5d;
  z-index: -3;
  -webkit-clip-path: circle(3.1% at 50% 50%);
          clip-path: circle(3.1% at 50% 50%);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.main-photo-frame.transition {
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.main-photo-im {
  display: block;
  width: 512px;
  height: 606px;
  border-radius: 50%;
  overflow: hidden;
}
.main-photo .dot3 {
  top: 430px;
  right: 467px;
}
.main-btn {
  margin-top: 5rem;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-btn {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .main-btn {
    text-align: center;
  }
}
.main-btn p {
  font-size: 2rem;
  padding: 2rem 1rem;
}
.main-btn-wrap {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .main-btn-wrap {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .main-btn-wrap {
    text-align: center;
    justify-content: center;
  }
}
.main-btn-wrap span {
  display: block;
  margin: 3rem 0;
  width: 40px;
  height: 2px;
  background-color: #B4FC93;
}
.main .dot1 {
  top: 0;
  right: 52%;
}
.main .dot2 {
  top: 30%;
  right: 97%;
}
.main .dot4 {
  left: 10%;
}
.main .big-circle {
  width: 185px !important;
  height: 185px !important;
  background-image: url("../images/light-dot-lg.png") !important;
}
.main .circle {
  background-image: url("../images/light-dot.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 139px;
  height: 139px;
  z-index: -1;
}

/* sections */
section {
  background-color: linear-gradient(0deg, rgb(245, 255, 216) 0%, rgb(255, 255, 244) 77%, rgb(255, 255, 255) 100%);
  padding-top: 5vw;
  padding-bottom: 10vw;
  width: 100vw;
}
section .section-title {
  text-align: center;
  line-height: 1.75;
  text-transform: uppercase;
}
section .sub-title span {
  color: #8ffb5d;
}
section .sub-title {
  margin-bottom: 10rem;
}
section:last-of-type {
  margin: 0 auto;
  min-height: 50vh;
}

/* section 1 */
.infor {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}
.infor-container {
  width: 100%;
  max-width: 1200px;
}
.infor-cards {
  padding: 2rem 0 0 12rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .infor-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .infor-cards {
    flex-direction: column;
  }
}
.infor .card {
  line-height: 1.75;
  justify-content: center;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .infor .card {
    width: 100%;
    padding: 5rem 10rem;
    margin-bottom: 5vw;
  }
}
@media screen and (max-width: 700px) {
  .infor .card {
    width: 100%;
    margin-bottom: 20vw;
  }
}
.infor .card.intro {
  flex-basis: 50%;
}
.infor .card.experience {
  flex-basis: 50%;
}
.infor .card h3 {
  text-align: left;
}
.infor .card .dot5 {
  left: 0;
}
.infor .card-content {
  padding: 0 5rem 1em 0;
  display: flex;
  gap: 3rem;
}
.infor .card-content span {
  color: #090a0c;
  flex: 0 0 120px;
  border-right: 1px solid #c1c1c1;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.infor .card-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
  text-align: left;
}

/* section 2 */
.resume-container {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1201px) {
  .resume-container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .resume-container {
    max-width: 800px;
  }
}
@media screen and (max-width: 700px) {
  .resume-container {
    max-width: 600px;
  }
}
.resume-wrap {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .resume-wrap {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .resume-wrap {
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
  }
}
.resume-list {
  max-width: 680px;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.resume-list-title {
  padding-bottom: 3rem;
  border-bottom: 3px solid;
  text-align: center;
}
.resume-list-item {
  display: block;
  padding: 2rem 3rem;
  border-bottom: 2px solid #424242;
  line-height: 1.5;
  position: relative;
}
.resume-list-item.active .resume-kind:before {
  content: "-";
  background-color: #8ffb5d;
}
.resume-list-item.active .resume-kind {
  font-weight: 700;
}
.resume-list-item .resume-kind {
  display: block;
  margin: 0;
}
.resume-list-item .resume-kind::before {
  content: "+";
  width: 48px;
  height: 48px;
  position: absolute;
  right: -24px;
  bottom: -26px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  transform: translateY(-10%);
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 1.2s cubic-bezier(0.3, 0, 0.3, 1);
}
.resume-list-item table {
  width: 100%;
  margin: 2rem 0;
}
.resume-list-item .resume-list-table th {
  width: 147px;
  padding-right: 3rem;
  color: #5e5e5e;
  font-weight: 500;
}
.resume-list-item .resume-list-table th.company {
  color: #4BE006;
}
.resume-list-item .ex-list-table th {
  width: 454px;
  padding-right: 3rem;
  text-align: left;
}
.resume-list-item .ex-list-table th.h5 {
  color: #4BE006;
  font-weight: 400;
}
.resume-list-item th,
.resume-list-item td {
  padding-bottom: 1rem;
}
.resume-list-item td.en-font {
  font-weight: 400;
}
.resume-list-title {
  width: 100%;
}

/* section 3 */
.skill-container {
  margin: auto;
}
@media screen and (min-width: 1201px) {
  .skill-container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .skill-container {
    max-width: 600px;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .skill-container {
    max-width: 500px;
    width: 100%;
  }
}
.skill-list {
  display: grid;
}
@media screen and (min-width: 1201px) {
  .skill-list {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .skill-list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .skill-list {
    grid-template-columns: 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-items: center;
  }
}
.skill-list-item {
  width: 40rem;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .skill-list-item {
    width: 30rem;
  }
}
@media screen and (max-width: 700px) {
  .skill-list-item {
    width: 40rem;
  }
}
.skill-box {
  display: flex;
  justify-content: space-between;
}
.skill .progress-bar {
  position: relative;
  height: 3px;
  margin: 3em auto;
  background-color: #eaeaea;
  z-index: -2;
}
.skill .progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #424242;
  z-index: -1;
  width: 0;
}
.skill .progress-bar .progress-dot {
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #8ffb5d;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0px;
  top: -12px;
  width: 25px;
  height: 25px;
}
.skill .progress-bar .rate {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  line-height: 30px;
  font-size: 1.2em;
  z-index: 10;
}

/* section 4 */
.project-container {
  max-width: 1200px;
  margin: auto;
}
.project-wrap {
  display: flex;
  flex-direction: column;
}
.project-wrap img {
  width: 100%;
}
@media screen and (min-width: 1201px) {
  .project-wrap {
    gap: 20rem;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project-wrap {
    gap: 10rem;
  }
}
@media screen and (max-width: 700px) {
  .project-wrap {
    gap: 15rem;
  }
}
.project-wrap .project-box {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project-wrap .project-box {
    flex-flow: column wrap;
    align-items: center;
    margin: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .project-wrap .project-box {
    flex-flow: column wrap;
    align-items: center;
    margin: 0 3rem;
  }
}
.project-wrap .project-box.p5 .left {
  flex-basis: 50%;
  margin-bottom: 3rem;
}
.project-wrap .project-box.p5 .right {
  flex-basis: 50%;
  justify-content: center;
}
@media screen and (min-width: 1201px) {
  .project-wrap .project-box.p5 .right {
    padding-right: 10rem;
  }
}
.project-wrap .project-box.p5 .figma {
  position: relative;
  width: 582px;
  height: 730px;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  background: url("../images/project/s22-frame.png") center center/contain no-repeat;
}
.project-wrap .project-box.p5 .crop {
  position: absolute;
  overflow: hidden;
  width: 331px;
  height: 668px;
  top: 33px;
  left: 50%;
  border-radius: 11px 11px 15px 20px;
  z-index: 1;
  transform: translateX(-166px);
}
.project-wrap .project-box.p5 iframe {
  display: block;
  position: absolute;
  width: 341px;
  height: 883px;
  top: -94px;
  left: -6px;
}
.project-frame {
  position: relative;
  cursor: all-scroll;
}
@media screen and (min-width: 1201px) {
  .project-frame {
    flex-basis: 60%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project-frame {
    width: 650px;
    margin: 0 0 3rem 0;
    height: 450px;
  }
}
@media screen and (max-width: 700px) {
  .project-frame {
    margin: 0 0 3rem 0;
    width: 100%;
    height: 450px;
  }
}
.project-frame:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(#424242);
  transition: -webkit-clip-path 0.3s cubic-bezier(0.33, 0.08, 0.88, 0.46);
  transition: clip-path 0.3s cubic-bezier(0.33, 0.08, 0.88, 0.46);
  transition: clip-path 0.3s cubic-bezier(0.33, 0.08, 0.88, 0.46), -webkit-clip-path 0.3s cubic-bezier(0.33, 0.08, 0.88, 0.46);
  z-index: 999;
}
.project-frame.is-animaited :before {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.project-frame .mockup {
  position: relative;
  height: 475px;
  width: 100%;
}
.project-frame .mask {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 20;
}
@media screen and (min-width: 1201px) {
  .project-frame .mask {
    max-width: 748px;
    height: 368px;
    top: 70px;
    max-width: 690px;
    left: 10px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project-frame .mask {
    top: 65px;
    height: 334px;
    max-width: 628px;
    left: 8px;
  }
}
@media screen and (max-width: 700px) {
  .project-frame .mask {
    height: 312px;
    top: 61px;
    width: 590px;
    left: 8px;
  }
}
.project .screen {
  transition: top 1s cubic-bezier(0.17, 0.45, 0.69, 0.83);
}
@media screen and (min-width: 1201px) {
  .project .screen {
    width: 100%;
  }
}
.project .device {
  border-radius: 2rem;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project .device {
    max-width: 800px;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .project .device {
    max-width: 610px;
    width: 100%;
  }
}
.project img {
  position: absolute;
  width: 100%;
  top: 0;
}
@media screen and (max-width: 700px) {
  .project img {
    position: inherit;
  }
}
.project-sub {
  flex-basis: 40%;
  padding: 1rem 1rem 6rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-left: 1rem;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project-sub {
    padding: 0;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  .project-sub {
    align-items: center;
    padding: 0;
    margin: auto;
    text-align: center;
  }
}
.project-sub-title {
  display: flex;
  gap: 1rem;
}
.project-sub-title .h2 {
  color: #8ffb5d;
}
.project-sub-title .up {
  position: absolute;
  color: #8ffb5d;
}
.project-sub-title p {
  line-height: 12rem;
  padding-left: 2rem;
}
.project-sub-txt {
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .project-sub-txt p {
    text-align: center;
  }
}
.project-sub-txt .sub-txt-title {
  position: relative;
  display: inline-block;
  border: 2px solid #424242;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  background-color: #ffffff;
  margin-right: 3.5rem;
  font-weight: 400;
}
.project-sub-txt .sub-txt-title::before {
  margin-top: -1px;
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  width: 3rem;
  height: 2px;
  background-color: #424242;
}
.project-sub-infor {
  display: flex;
}
@media screen and (min-width: 1201px) {
  .project-sub-infor {
    justify-content: space-around;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .project-sub-infor {
    justify-content: space-between;
  }
}
@media screen and (max-width: 700px) {
  .project-sub-infor {
    justify-content: space-between;
  }
}
.project-sub-infor .infor-item {
  text-align: center;
}
.project-sub-infor .infor-item p {
  margin: 1rem 0;
}
.project-sub-infor .infor-title {
  color: #4BE006;
}
.project-sub-btn {
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
  gap: 0.4rem;
}

/* section 5 */
.portfolio-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .portfolio-container {
    max-width: 700px;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .portfolio-container {
    max-width: 600px;
    width: 100%;
  }
}
.portfolio-box-filter-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.portfolio-box-filter-links button {
  border: none;
  outline: none;
  background-color: transparent;
}
.portfolio-box-filter-links button.active {
  color: #4BE006;
  border-bottom: 2px solid #4BE006;
}
.portfolio-box-work {
  max-width: 1200px;
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}
@media screen and (min-width: 1201px) {
  .portfolio-box-work {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: min-content;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .portfolio-box-work {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 700px) {
  .portfolio-box-work {
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 1rem;
  }
}
.portfolio-box-work.work1 {
  height: 100vw;
  overflow-y: hidden;
}
.portfolio-box-work .pic {
  transition: transform 0.3s;
}
.portfolio-box-work .pic:hover {
  transform: scale(1.1);
}
.portfolio-box-work .work-item {
  display: inline-block;
  max-height: 300px;
  overflow: hidden;
  margin: auto;
  border-top: 2px solid var(#424242);
  position: relative;
}
.portfolio-box-work img {
  max-width: 300px;
}

/* lightBox */
#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
}

#lightImage {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 80%;
  height: 80vh;
  top: 100px;
  overflow-y: auto;
  z-index: 999;
}

.btn {
  cursor: pointer;
  padding: 0 3rem;
  border-radius: 5rem;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #4BE006;
  transition: all 0.5s;
  line-height: 5rem;
  position: relative;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2rem;
  font-weight: 700;
}
.btn:hover:before {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 1;
  filter: blur(0px);
}
.btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background: #B4FC93;
  transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
  transform: translate(-50%, -50%);
  border-radius: 56px;
  opacity: 0;
  z-index: -1;
  filter: blur(10px);
}/*# sourceMappingURL=index.css.map */