.wrap {
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
    position: relative;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    background: url("#{$url-images}/loding.json");
    z-index: 99999;
}


.all_scrollFixed {
    overflow: hidden;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;

    @include mq('md') {
        display: none;
    }

    @include mq('sm') {
        display: none;
    }
}

.custom-cursor img {
    display: block;
    width: 40px;
    height: auto;
}


.logo {
    position: relative;
    display: inline-block;
    width: 106px;
    height: 95px;
}

#lottie {
    position: absolute;
    top: 0;
    left: -20px;
    width: 100%;
    height: 100%;
}

#msc {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 307px;
    height: 148px;


    @include mq('md') {
        display: none;
        visibility: hidden;
    }

    @include mq('sm') {
        display: none;
        visibility: hidden;
    }
}

// scroll-bar
body::-webkit-scrollbar {
    width: 2em;
    background-color: $bg-color-secondary;
}

body::-webkit-scrollbar-thumb {
    width: 2em;
    height: 2em;
    background-color: $color-secondary;
}

body::-webkit-scrollbar-button {
    background-color: white;
}


.header {
    width: 100%;
    padding: 3rem;

    &-inner {
        display: flex;
        width: 100%;
        height: 6rem;
        justify-content: space-between;
        align-items: center;

    }

    .menu-btn {
        & {
            display: inline-block;
            width: 28px;
            height: 30px;
            position: fixed;
            right: 2%;
        }

        span {
            margin-top: 0;
            position: absolute;
            left: 0;
            top: 8px;
            width: 100%;
            height: 2px;
            display: block;
            background: #000;
            transition: all .3s cubic-bezier(.3, 0, .3, 1);
            -webkit-transition: all .3s cubic-bezier(.3, 0, .3, 1);
        }

        span:last-child {
            top: auto;
            bottom: 8px;
        }


    }
}

nav {
    & {
        position: absolute;
        top: 30px;
        right: 60px;
        z-index: 2;
        padding: 0 1em;

        @include mq('md') {
            // display: none;
        }

        @include mq('sm') {
            display: none;
        }
    }

    &.sticky {
        background: #ffffffbc;
        position: fixed;
        z-index: 99;
        border-radius: 56px;
        backdrop-filter: blur(6.4px);
    }

    .gnb {
        display: flex;
        top: 0;
        right: 0;

        li {
            display: block;
            padding: 1.5rem 3rem;
            border-radius: 56px;

            &.on a {
                font-weight: 500;
            }

            a {
                color: $color-black;
                display: inline-block;
                padding: 0.2rem;
                text-align: center;
                line-height: 3rem;
                height: 3rem;
                position: relative;

                &:before {
                    top: 0;
                    transform-origin: left;
                }

                &:after {
                    bottom: 0;
                    transform-origin: right;
                }

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $color-secondary;
                    transform: scaleX(0);
                    transition: all 0.5s;
                }
            }

            &.on a:before,
            & a:hover:before,
            &.on a:after,
            & a:hover:after {
                transform: scaleX(1);
            }

        }
    }
}

/* sideNav */
.side-menu {
    .sideNav {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 95%;


        li {
            position: relative;

            a {
                display: block;
                position: relative;
                line-height: 4rem;
                width: 4rem;
                height: 4rem;
                color: #fff;
                text-align: center;
                margin-bottom: 1em;
                border-radius: 50%;
                border: 3px solid $color-third;
            }
        }


        li.on {
            a:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background: $color-primary;
                border: transparent;
                z-index: -1;
                color: #fff;
            }
        }

        @include mq('md') {
            display: none;
        }

        @include mq('sm') {
            display: none;
        }
    }

    .sideNav-top {
        position: fixed;
        left: 90%;
        bottom: 10%;

        &::before {
            content: '';
            width: 2.3rem;
            height: 3rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 8rem;
            background: url("#{$url-images}/top-arrow.png")center center no-repeat;
            cursor: pointer;
        }

        a {
            display: block;
            position: relative;
            line-height: 6rem;
            color: $txt-color-primary;
            background-color: $bg-color;
            font-weight: 700;
            text-align: center;
            margin-bottom: 1em;
            border-radius: 50%;

        }
    }
}

/* main */
.main {
    & {
        width: 100%;
        max-width: 1200px;
        padding-bottom: 10vw;
    }

    &-container {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        @include mq('lg') {}

        @include mq('md') {
            align-items: center;
        }

        @include mq('sm') {
            align-items: center;
        }
    }

    &-hero-banner {
        margin-top: 10rem;
        top: 10%;

        @include mq('lg') {
            width: 60%;
        }

        @include mq('md') {
            width: 100%;
            text-align: center;
        }

        @include mq('sm') {
            width: 100%;
            text-align: center;
        }

        &-title {
            &.title {
                font-weight: 800;
                color: transparent;
                background-image: url("#{$url-images}/green-back.png");
                background-blend-mode: color;
                background-position: 98% 75%;
                background-clip: text;
                position: relative;
                line-height: 10rem;
            }

            &.sub-title {
                margin-top: 2rem;
            }


        }

    }

    .image-wrap {
        position: absolute;
        left: 60%;

        @include mq('md') {
            position: static;
            flex-direction: column;
            height: 73vw;
            bottom: 0;
            padding: 5rem 10rem;
        }

        @include mq('sm') {
            position: static;
            flex-direction: column;
            height: 93vw;
            bottom: 0;
            padding: 5rem 10rem;
        }
    }

    &-photo {
        & {
            position: relative;
            text-align: center;

            max-width: 513px;

            @include mq('lg') {
                height: 56vw;
            }

            @include mq('md') {
                height: 62vw;
            }

            @include mq('sm') {
                height: 62vw;
            }

            &-infor {
                & {
                    position: absolute;
                    left: -6%;
                    z-index: 12;
                    font-weight: 500;

                    @include mq('lg') {
                        top: 45%;
                    }

                    @include mq('md') {
                        top: 85%;
                        width: 100%;
                    }

                    @include mq('sm') {
                        top: 85%;
                        width: 100%
                    }

                }

                ul {
                    & {
                        display: flex;
                        justify-content: space-between;


                        position: relative;
                        z-index: 5;

                        @include mq('lg') {
                            width: 90rem;
                            height: 30rem;
                        }

                        @include mq('md') {
                            width: 100%;
                            right: 0;
                        }

                        @include mq('sm') {
                            width: 100%;
                            right: 0;
                        }

                        li {
                            & {
                                display: block;
                                border: 2px solid $color-black;
                                border-radius: 56px;
                                background-color: $bg-color;
                                font-weight: 700;
                                transition: position 0.3s cubic-bezier(.36, .64, .55, .59);
                                box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.5);

                                @include mq('lg') {
                                    padding: 0 3rem;
                                    line-height: 6rem;
                                }

                                @include mq('md') {
                                    font-size: 2rem;
                                    padding: 0 2rem;
                                    line-height: 5rem;
                                }

                                @include mq('sm') {
                                    display: none;
                                }
                            }

                            &.i1 {
                                position: absolute;

                                @include mq('lg') {
                                    top: -81px;
                                    right: 211px;
                                }

                                @include mq('md') {
                                    top: -98px;
                                    right: 177px;
                                }

                                @include mq('sm') {
                                    display: none;
                                }
                            }

                            &.i2 {
                                position: absolute;

                                @include mq('lg') {
                                    top: -152px;
                                    left: -150px;
                                }

                                @include mq('md') {
                                    top: -356.6154px;
                                    left: 220.5639px;
                                }

                                @include mq('sm') {
                                    display: none;
                                }

                            }

                            &.on {
                                color: $txt-color-secondary;
                            }
                        }
                    }
                }

            }

            &-frame {
                position: absolute;
                top: 7%;
                left: 0;
                display: block;
                width: 50rem;
                height: 50rem;
                border-radius: 50%;
                border: 30px solid #8ffb5d;
                z-index: -3;
                clip-path: circle(3.1% at 50% 50%);
                transition: clip-path 0.5s;

                &.transition {
                    transition: clip-path 0.5s;
                }
            }

            &-im {
                display: block;
                width: 512px;
                height: 606px;
                border-radius: 50%;
                overflow: hidden;
            }

            .dot3 {
                top: 430px;
                right: 467px;
            }
        }
    }

    &-btn {
        margin-top: 5rem;

        @include mq('md') {

            text-align: center;
        }

        @include mq('sm') {
            text-align: center;
        }

        p {
            font-size: 2rem;
            padding: 2rem 1rem;
        }

        &-wrap {
            & {

                display: flex;
                align-items: center;

                @include mq('md') {
                    text-align: center;
                    justify-content: center;
                }

                @include mq('sm') {
                    text-align: center;
                    justify-content: center;
                }
            }

            span {
                display: block;
                margin: 3rem 0;
                width: 40px;
                height: 2px;
                background-color: $color-secondary;
            }
        }

    }

    .dot1 {
        top: 0;
        right: 52%;
    }

    .dot2 {
        top: 30%;
        right: 97%;
    }

    .dot4 {
        left: 10%;
    }

    .big-circle {
        width: 185px !important;
        height: 185px !important;
        background-image: url("#{$url-images}/light-dot-lg.png") !important;
    }

    .circle {
        background-image: url("#{$url-images}/light-dot.png");
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 139px;
        height: 139px;
        z-index: -1;
    }
}

/* sections */
section {
    background-color: $bg-gradient;
    padding-top: 5vw;
    padding-bottom: 10vw;
    width: 100vw;

    .section-title {
        text-align: center;
        line-height: 1.75;
        text-transform: uppercase;
    }

    .sub-title span {
        color: $color-primary;
    }

    .sub-title {
        margin-bottom: 10rem;
    }

    &:last-of-type {
        margin: 0 auto;
        min-height: 50vh;
    }

}

/* section 1 */
.infor {
    margin: auto;
    width: 100%;
    max-width: 1200px;

    &-container {
        width: 100%;
        max-width: 1200px;
    }

    &-cards {
        padding: 2rem 0 0 12rem;
        display: flex;
        width: 100%;
        justify-content: space-around;

        @include mq('md') {
            flex-direction: column;

        }

        @include mq('sm') {
            flex-direction: column;
        }
    }

    .card {
        line-height: 1.75;
        justify-content: center;

        @include mq('md') {
            width: 100%;
            padding: 5rem 10rem;
            margin-bottom: 5vw;
        }

        @include mq('sm') {
            width: 100%;
            margin-bottom: 20vw;
        }

        &.intro {
            flex-basis: 50%;
        }

        &.experience {
            flex-basis: 50%;
        }

        h3 {
            text-align: left;
        }

        .dot5 {
            left: 0;
        }

        &-content {
            padding: 0 5rem 1em 0;
            display: flex;
            gap: 3rem;

            span {
                color: #090a0c;
                flex: 0 0 120px;
                border-right: 1px solid #c1c1c1;
                font-family: "Montserrat", sans-serif;
                text-align: left;
            }

        }

        &-title {
            display: block;
            font-family: "Montserrat", sans-serif;
            letter-spacing: -0.05em;
            text-align: left;
        }
    }


}

/* section 2 */
.resume {
    &-container {
        width: 100%;

        margin: auto;

        @include mq('lg') {
            max-width: 1200px;
        }

        @include mq('md') {
            max-width: 800px;
        }

        @include mq('sm') {
            max-width: 600px;
        }
    }

    &-wrap {
        display: flex;
        flex-direction: row;

        @include mq('md') {
            flex-direction: column;
            align-items: center;
        }

        @include mq('sm') {
            flex-direction: column;
            align-items: center;
            margin: 0 3rem;
        }

    }

    &-list {
        & {
            max-width: 680px;
            width: 100%;
            padding: 3rem;
            display: flex;
            flex-direction: column;
        }

        &-title {
            padding-bottom: 3rem;
            border-bottom: 3px solid;
            text-align: center;
        }


        &-item {
            display: block;
            padding: 2rem 3rem;
            border-bottom: 2px solid $txt-color-primary;
            line-height: 1.5;
            position: relative;

            &.active .resume-kind:before {
                content: '-';
                background-color: $color-primary;
            }

            &.active .resume-kind {
                font-weight: 700;
            }

            .resume-kind {
                display: block;
                margin: 0;

                &::before {
                    content: '+';
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    right: -24px;
                    bottom: -26px;
                    text-align: center;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 47px;
                    transform: translateY(-10%);
                    background-color: $color-white;
                    border-radius: 50%;
                    border: 2px solid #000;
                    box-shadow: 5px 5px rgb(0 0 0/20%);
                    transition: all 1.2s cubic-bezier(.3, 0, .3, 1);
                }
            }

            table {
                width: 100%;
                margin: 2rem 0;
            }

            .resume-list-table {

                th {
                    width: 147px;
                    padding-right: 3rem;
                    color: $color-gray;
                    font-weight: 500;

                    &.company {
                        color: $txt-color-secondary;
                    }
                }
            }

            .ex-list-table {
                th {
                    width: 454px;
                    padding-right: 3rem;
                    text-align: left;

                    &.h5 {
                        color: $txt-color-secondary;
                        font-weight: 400;
                    }
                }
            }

            th,
            td {
                padding-bottom: 1rem;
            }

            td.en-font {
                font-weight: 400;
            }
        }



    }

    &-list-title {
        width: 100%;
    }
}

/* section 3 */
.skill {
    &-container {

        margin: auto;

        @include mq('lg') {
            max-width: 1200px;
        }

        @include mq('md') {
            max-width: 600px;
            width: 100%;
        }

        @include mq('sm') {
            max-width: 500px;
            width: 100%;
        }
    }

    &-list {
        display: grid;

        @include mq('lg') {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5rem;
        }

        @include mq('md') {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }

        @include mq('sm') {
            grid-template-columns: 1fr;
            column-gap: 2rem;
            justify-items: center
        }

        &-item {
            width: 40rem;

            @include mq('md') {
                width: 30rem;
            }

            @include mq('sm') {
                width: 40rem;
            }
        }
    }

    &-box {
        display: flex;
        justify-content: space-between;
    }

    .progress-bar {
        position: relative;
        height: 3px;
        margin: 3em auto;
        background-color: #eaeaea;
        z-index: -2;
    }

    .progress-bar .bar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: $txt-color-primary;
        z-index: -1;
        width: 0;
    }

    .progress-bar .progress-dot {
        border: 2px solid #000;
        border-radius: 50%;
        background-color: $color-primary;
        box-shadow: 5px 5px rgba(0, 0, 0, .2);
        position: absolute;
        left: 0px;
        top: -12px;
        width: 25px;
        height: 25px;
    }

    .progress-bar .rate {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        line-height: 30px;
        font-size: 1.2em;
        z-index: 10;
    }
}

/* section 4 */
.project {
    &-container {
        max-width: 1200px;
        margin: auto;
    }

    &-wrap {
        display: flex;
        flex-direction: column;


        img {
            width: 100%;
        }

        @include mq('lg') {
            gap: 20rem;
        }

        @include mq('md') {
            gap: 10rem;
        }

        @include mq('sm') {
            gap: 15rem;
        }

        .project-box {
            display: flex;
            width: 100%;

            @include mq('lg') {}

            @include mq('md') {
                flex-flow: column wrap;
                align-items: center;
                margin: 1rem;
            }

            @include mq('sm') {
                flex-flow: column wrap;
                align-items: center;
                margin: 0 3rem;
            }

            &.p5 {

                .left {
                    flex-basis: 50%;
                    margin-bottom: 3rem;
                }

                .right {
                    flex-basis: 50%;
                    justify-content: center;

                    @include mq('lg') {
                        padding-right: 10rem;
                    }
                }

                .figma {
                    position: relative;
                    width: 582px;
                    height: 730px;
                    overflow: hidden;
                    z-index: 2;
                    cursor: pointer;
                    background: url("#{$url-images}/project/s22-frame.png") center center/contain no-repeat;

                }


                .crop {
                    position: absolute;
                    overflow: hidden;
                    width: 331px;
                    height: 668px;
                    top: 33px;
                    left: 50%;
                    border-radius: 11px 11px 15px 20px;
                    z-index: 1;
                    transform: translateX(-166px);
                }

                iframe {
                    display: block;
                    position: absolute;
                    width: 341px;
                    height: 883px;
                    top: -94px;
                    left: -6px;
                }
            }

        }
    }

    &-frame {
        position: relative;
        cursor: all-scroll;

        @include mq('lg') {
            flex-basis: 60%;
        }

        @include mq('md') {
            width: 650px;
            margin: 0 0 3rem 0;
            height: 450px;
        }

        @include mq('sm') {
            margin: 0 0 3rem 0;
            width: 100%;
            height: 450px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: var($txt-color-primary);
            transition: clip-path 0.3s cubic-bezier(.33, .08, .88, .46);
            z-index: 999;
        }

        &.is-animaited :before {
            clip-path: inset(0);
        }



        .mockup {
            position: relative;
            height: 475px;
            width: 100%;
        }

        .mask {
            position: absolute;
            width: 100%;

            overflow: hidden;
            z-index: 20;

            @include mq('lg') {
                max-width: 748px;
                height: 368px;
                top: 70px;
                max-width: 690px;
                left: 10px;
            }

            @include mq('md') {
                top: 65px;
                height: 334px;
                max-width: 628px;
                left: 8px;
            }

            @include mq('sm') {
                height: 312px;
                top: 61px;
                width: 590px;
                left: 8px;
            }
        }
    }

    .screen {

        transition: top 1s cubic-bezier(.17, .45, .69, .83);

        @include mq('lg') {
            width: 100%;
        }

        @include mq('md') {}

        @include mq('sm') {}
    }

    .device {
        border-radius: 2rem;

        @include mq('lg') {}

        @include mq('md') {
            max-width: 800px;
            width: 100%;
        }

        @include mq('sm') {
            max-width: 610px;
            width: 100%;
        }
    }

    img {
        position: absolute;
        width: 100%;
        top: 0;

        @include mq('md') {}

        @include mq('sm') {
            position: inherit;
        }
    }



    &-sub {
        & {
            flex-basis: 40%;
            padding: 1rem 1rem 6rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            margin-left: 1rem;

            @include mq('md') {
                padding: 0;
                margin: auto;
            }

            @include mq('sm') {
                align-items: center;
                padding: 0;
                margin: auto;
                text-align: center;
            }
        }

        &-title {
            display: flex;
            gap: 1rem;

            .h2 {
                color: $color-primary;
            }

            .up {
                position: absolute;
                color: $color-primary;
            }

            p {
                line-height: 12rem;
                padding-left: 2rem;
            }
        }

        &-txt {
            font-weight: 600;

            p {
                @include mq('sm') {
                    text-align: center;
                }
            }

            .sub-txt-title {
                position: relative;
                display: inline-block;
                border: 2px solid $txt-color-primary;
                border-radius: 5rem;
                padding: 0.5rem 1.5rem;
                background-color: $color-white;
                margin-right: 3.5rem;
                font-weight: 400;

                &::before {
                    margin-top: -1px;
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    width: 3rem;
                    height: 2px;
                    background-color: $txt-color-primary;
                }
            }


        }

        &-infor {
            display: flex;

            @include mq('lg') {
                justify-content: space-around;
            }

            @include mq('md') {
                justify-content: space-between;
            }

            @include mq('sm') {
                justify-content: space-between;
            }

            .infor-item {
                text-align: center;

                p {
                    margin: 1rem 0;
                }

            }

            .infor-title {
                color: $txt-color-secondary;
            }
        }

        &-btn {
            
            display: flex;
            margin-top: 4rem;
            flex-wrap: wrap;
            gap: 0.4rem;

            // span {
            //     display: block;
            //     margin: 3rem 0;
            //     width: 4rem;
            //     height: 2px;
            //     background-color: $color-secondary;
            // }
        }

    }
}

/* section 5 */
.portfolio {
    &-container {
        max-width: 1200px;
        width: 100%;
        margin: auto;

        @include mq('md') {
            max-width: 700px;
            width: 100%;
        }

        @include mq('sm') {
            max-width: 600px;
            width: 100%;
        }
    }

    &-box {
        &-filter-links {
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin-bottom: 3rem;

            button {
                border: none;
                outline: none;
                background-color: transparent;

                &.active {
                    color: $txt-color-secondary;
                    border-bottom: 2px solid $txt-color-secondary;
                }
            }
        }

        &-work {
            max-width: 1200px;
            display: grid;
            column-gap: 2rem;
            row-gap: 2rem;
            justify-content: center;

            @include mq('lg') {
                grid-template-columns: repeat(4, minmax(300px, 1fr));

                grid-template-rows: min-content;
            }

            @include mq('md') {
                grid-template-columns: repeat(3, minmax(250px, 1fr));
            }

            @include mq('sm') {
                grid-template-rows: repeat(2, minmax(100px, 1fr));
                column-gap: 1rem;
                row-gap: 1rem;
            }

            &.work1 {
                height: 100vw;
                overflow-y: hidden;
            }

            .pic {
                transition: transform 0.3s;
            }

            .pic:hover {
                transform: scale(1.1);
            }

            .work-item {
                display: inline-block;
                max-height: 300px;
                overflow: hidden;
                margin: auto;
                border-top: 2px solid var($txt-color-primary);
                position: relative;


            }

            img {
                max-width: 300px;
            }
        }
    }
}

/* lightBox */
#lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}

#lightImage {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 80%;
    height: 80vh;
    top: 100px;
    overflow-y: auto;
    z-index: 999;
}