    .btn {
        & {
            cursor: pointer;
            padding: 0 3rem;
            border-radius: 5rem;
            text-decoration: none;
            display: inline-block;
            border: 2px solid $txt-color-secondary;
            transition: all .5s;
            line-height: 6rem;
            position: relative;
            box-shadow: 5px 5px rgb(0 0 0/20%);

            font : {
                size: 2rem;
                weight: 700;
            }
        }

        &:hover:before {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            opacity: 1;
            filter: blur(0px);
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            background: $color-secondary;
            transition: all .6s cubic-bezier(.3, 0, .3, 1);
            transform: translate(-50%, -50%);
            border-radius: 56px;
            opacity: 0;
            z-index: -1;
            filter: blur(10px);
        }
    }
