.hero-banner-btn {
    .btn {
        cursor: pointer;
        padding: 1rem 3rem;
        border-radius: 3rem;
        margin-top: 1rem;
        text-decoration: none;
        display: inline-block;
        border: 1px solid $txt-color-secondary;
        transition: all .5s;
        line-height: 2rem;
        font : {
            size: 2rem;
            weight: 700;
            
        }

        &:hover {
            color: $color-black;
            background-color: $color-secondary;
            border-bottom: 1px solid transparent;
        }
    }
}