.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.375;
    letter-spacing: -0.01em;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

.h1,
h1 {
    line-height: 1.2;

    font: {
        size: 5rem;
        weight: 800;
    }
}

.h2,
h2 {

    font: {
        size: 4rem;
        weight: 600;
    }
}

.h3,
h3 {
    margin: 0 0 2rem 0;
    font: {
        size: 3rem;
        weight: 500;
    }
}

.h4,
h4 {
    font: {
        size: 2.25rem;
        weight: 400;
    }
}

.h5,
h5 {
    margin: 0 0 3rem 0;
    font: {
        size: 1.6rem;
        weight: 500;
    }
}

p {
    margin: 0 0 2rem 0;
}

strong,
b {
    font-weight: 400;
}

.en-font{
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.05em;
}