.h1,
h1 {
    padding: 2rem 0;
    line-height: 5rem;
    font: {
        size: 5rem;
        weight: 800;
    }
    text-transform: uppercase;
}
.h2,
h2 {
    padding: 1rem 0;
    line-height: 4rem;
    font: {
        size: 4rem;
        weight: 700;
    }
    text-transform: uppercase;
}

.h3,
h3{
    padding: 0.5rem 0;
    line-height: 1.6rem;
    font: {
        size: 3rem;
        weight: 700;
    }
    text-transform: uppercase;
}

.h4,
h4{
    padding: 1rem 0;
    line-height: 1.6rem;
    font: {
        size: 2rem;
        weight: 500;
    }
    text-transform: uppercase;
}

.h5,
h5{
    padding: 1rem 0;
    line-height: 1.6rem;
    font: {
        size: 1.6rem;
        weight: 500;
    }
    text-transform: uppercase;
}