.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.375;
    letter-spacing: -0.01em;
    margin: 0 0 1rem 0;
}

.h1,
h1 {
    line-height: 1.2;

    font: {
        size: 100px;
        weight: 800;
    }

    @include mq('lg') {
        font-size: 80px;
    }

    @include mq('md') {
        font-size: 100px;
    }

    @include mq('sm') {
        font-size: 80px;
    }


}

.h2,
h2 {

    font: {
        size: 8rem;
        weight: 600;
    }
}

.h3,
h3 {
    margin: 0 0 2rem 0;

    font: {
        size: 5rem;
        weight: 500;
    }
}

.h4,
h4 {
    font: {
        size: 4.32rem;
        weight: 600;
    }
}

.h5,
h5 {

    font: {
        size: 2.4rem;
        weight: 600;
    }
}

.h6,
h6 {
    margin: 0 0 3rem 0;

    font: {
        size: 2.1rem;
        weight: 500;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 2rem 0;
}

strong,
b {
    font-weight: 400;
}

.en-font {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.05em;
}