$color-primary: #8ffb5d;
$color-secondary: #B4FC93;
$color-third: #DAFEC9;
$txt-color-primary: #424242;
$txt-color-secondary: #4BE006;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #5e5e5e;
$color-purple: #7A5DFB;
$bg-color: #FFFFF4;
$bg-color-secondary: #F8FFE3;
$bg-gradient: linear-gradient(0deg, rgba(245,255,216,1) 0%, rgba(255,255,244,1) 77%, rgba(255,255,255,1) 100%);
$bg-gradient-secondary: linear-gradient(45deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);