$color-primary: #8ffb5d;
$color-secondary: #B4FC93;
$color-third: #DAFEC9;
$txt-color-primary: #424242;
$txt-color-secondary: #4BE006;
$color-black: #000000;
$color-purple: #7A5DFB;
$bg-color: #fffff4;
$bg-color-secondary: #F8FFE3;
$bg-gradient: linear-gradient(180deg,rgba(255,255,255,.15),rgba(255,255,255,0));